.select button:disabled {
  cursor: not-allowed;
}

#select {
  width: 10rem;
  height: 3rem;
  position: relative;
  text-align: center;
}

#select button:disabled {
  cursor: not-allowed;
}

#select button {
  width: 99%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
}

.options {
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  width: 100%;
  top: 100%;
  left: 10%;
}

.options li {
  list-style: none;
  width: 100%;
  height: 3rem;
  cursor: pointer;
  border-top: 1px solid black;
  text-align: left;
  padding: 10%;
}

.options li:hover {
  background-color: lightgreen;
}

@media (max-width: 400px) {
}
