.navbar {
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 4px 15px 0px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 1px 4px 15px 0px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 1px 4px 15px 0px rgba(0, 0, 0, 0.66);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1%;
  margin-bottom: 2%;
  min-height: 4rem;
  position: relative;
}

.navbar div {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar div * {
  margin: 1%;
}

#hamburger {
  /* display: none; */
  position: absolute;
  /* background-color: red; */
  width: 10%;
  right: 30px;
  bottom: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .navbar .nav {
    /* display: none; */
  }
  #hamburger {
    /* display: block; */
  }

  .navbar {
    display: block;
    text-align: left;
    padding-top: 2%;
  }
}
/* @media (max-width: 800px) {
  .navbar {
    display: block;
    text-align: left;
    padding-top: 2%;
  }

  .navbar div {
    margin: 3% auto;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 400px) {
  .navbar div {
    grid-template-columns: 1fr;
  }
} */
